# Club a compilar (city | united)
PUBLIC_CLUB=city

# URL del sitio para este build
PUBLIC_SITE_URL=https://city.casemuro.stream

# Backend y autenticación
PUBLIC_API_URL=https://api.casemuro.stream
PUBLIC_AUTH_URL=https://auth.casemuro.stream
