PORT=3001
DEVMODE=false
MONGODB_URI=mongodb://127.0.0.1:27017
DBNAME=auth

BETTER_AUTH_URL=https://auth.casemurocity.org
COOKIE_DOMAIN=.casemurocity.org
# Orígenes de confianza / CORS (coma-separados)
ALLOWED_ORIGINS=https://www.casemurocity.org,https://api.casemurocity.org

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CHANNEL_ID=
